{% extends 'secure.html.twig' %}

{% block pageTitle %}
    Edit Profile <small>({{ profile.user.firstName }} {{ profile.user.otherNames }} {{ profile.user.lastName }})</small>
{% endblock %}

{% block content %}
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <div class="col-md-2 col-md-offset-2">
            <input type="submit" value="Edit" class="btn btn-success" />
        </div>
        <div class="clearfix"></div>
    {{ form_end(edit_form) }}
{% endblock %}
