{% extends 'secure.html.twig' %}

{% block pageTitle %}
    Members
{% endblock %}

{% block content %}

    {% if profiles %}
        <table class="table table-stripped table-bordered">
            <thead>
            <tr>
                <th>Member's Name</th>
                <th>Annual Income (NGN)</th>
                <th>Credit Rating</th>
                <th>Net Worth (NGN)</th>
                <th>Is Qualified</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for profile in profiles %}
                <tr>
                    <td>{{ profile.firstName }} {{ profile.otherNames }} {{ profile.lastName }}</td>
                    <td>{{ profile.annualIncome|number_format }}</td>
                    <td>{{ profile.creditRating }}</td>
                    <td>{{ profile.netWorth|number_format }}</td>
                    <td>{% if profile.isQualified %}Yes{% else %}No{% endif %}</td>
                    <td>{{ profile.phone }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('profile_show', { 'id': profile.id }) }}" class="btn btn-primary btn-sm">Show</a>
                            </li>
                            <li>
                                <a href="{{ path('profile_edit', { 'id': profile.id }) }}" class="btn btn-warning btn-sm">Edit</a>
                            </li>
                            <li>
                                <a href="{{ path('profile_loan', { 'profileId': profile.id }) }}" class="btn btn-success btn-sm">View Loan History</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info">
            <p>
                No members have registered.
            </p>
        </div>
    {% endif %}
{% endblock %}
