{% extends 'base.html.twig' %}

{% block body %}
    <h1>Profile</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ profile.id }}</td>
            </tr>
            <tr>
                <th>Dateofregistration</th>
                <td>{% if profile.dateOfRegistration %}{{ profile.dateOfRegistration|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dateofbirth</th>
                <td>{% if profile.dateOfBirth %}{{ profile.dateOfBirth|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Maritalstatus</th>
                <td>{{ profile.maritalStatus }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ profile.gender }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ profile.address }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ profile.phone }}</td>
            </tr>
            <tr>
                <th>Isqualified</th>
                <td>{% if profile.isQualified %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ profile.state }}</td>
            </tr>
            <tr>
                <th>Annualincome</th>
                <td>{{ profile.annualIncome }}</td>
            </tr>
            <tr>
                <th>Networth</th>
                <td>{{ profile.netWorth }}</td>
            </tr>
            <tr>
                <th>Creditrating</th>
                <td>{{ profile.creditRating }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('profile_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('profile_edit', { 'id': profile.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
