{% extends 'secure.html.twig' %}

{% block pageTitle %}
    {{ profile.user.firstName }} {{ profile.user.otherNames }} {{ profile.user.lastName }}
{% endblock %}

{% block content %}
    <div class="margin-bottom pull-right">
        <ul class="buttons">
            <li>
                <a href="{{ path('profile_edit', { 'id': profile.id }) }}" class="btn btn-sm btn-warning">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-sm btn-danger">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Date of registration</th>
                <td>{% if profile.dateOfRegistration %}{{ profile.dateOfRegistration|date('d-M-Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Date of birth</th>
                <td>{% if profile.dateOfBirth %}{{ profile.dateOfBirth|date('d-M-Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Marital status</th>
                <td>{{ profile.maritalStatus }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ profile.gender }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ profile.address }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ profile.phone }}</td>
            </tr>
            <tr>
                <th>Is qualified</th>
                <td>{% if profile.isQualified %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ profile.state }}</td>
            </tr>
            <tr>
                <th>Annual income</th>
                <td>{{ profile.annualIncome|number_format }}</td>
            </tr>
            <tr>
                <th>Net worth</th>
                <td>{{ profile.netWorth|number_format }}</td>
            </tr>
            <tr>
                <th>Credit rating</th>
                <td>{{ profile.creditRating }}</td>
            </tr>
            <tr>
                <th>Membership Status</th>
                <td>{{ profile.status }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
