{% extends 'secure.html.twig' %}

{% block pageTitle %}
    Departments
{% endblock %}

{% block content %}
    {% if departments %}
        <div class="row margin-bottom">
            <div class="col-md-4 pull-right">
                <a href="{{ path('department_new') }}" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Add Department</a>
            </div>
        </div>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Department name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for department in departments %}
                <tr>
                    <td>{{ department.departmentName }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('department_edit', { 'id': department.id }) }}" class="btn btn-primary">Edit</a>
                            </li>

                            <li>
                                <form action="{{ path('department_delete', {'id': department.id}) }}" method="delete">
                                    <input type="submit" value="Delete" class="btn btn-danger btn-sm">
                                </form>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info">
            <p>
                No departments have been added. <a href="{{ path('department_new') }}">Click here to add new department</a>
            </p>
        </div>
    {% endif %}
{% endblock %}
