{% extends 'secure.html.twig' %}

{% block pageTitle %}
    Payments
{% endblock %}

{% block content %}
    <div class="row margin-bottom">
        {% if is_granted('ROLE_ADMIN') %}
            <div class="col-md-4 col-offset-md-8">
                <ul class="buttons">
                    <li>
                        <a href="{{ path('payment_new', {'loanId': app.request.get('loanId')}) }}" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Add New Payment Record</a>
                    </li>
                </ul>
            </div>
        {% endif %}
        <div class="col-md-4 col-offset-md-8">
            <h3>Unpaid Balance: NGN{{ balance|number_format }}</h3>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Date of payment</th>
                <th>Payment month</th>
                <th>Amount paid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for payment in payments %}
            <tr>
                <td>{% if payment.dateOfPayment %}{{ payment.dateOfPayment|date('Y-m-d') }}{% endif %}</td>
                <td>{{ payment.paymentMonth }}</td>
                <td>{{ payment.amountPaid }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('payment_show', { 'id': payment.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('payment_edit', { 'id': payment.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
