{% extends 'secure.html.twig' %}

{% block pageTitle %}
    Payment Detail
{% endblock %}

{% block content %}
    <div class="margin-bottom pull-right">
        <ul class="buttons">
            <li>
                <a href="{{ path('payment_edit', { 'id': payment.id, 'loanId': app.request.get('loanId') }) }}" class="btn btn-warning btn-sm">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete" class="btn btn-danger btn-sm">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Member name</th>
                <td>{{ payment.profile.user.firstName }} {{ payment.profile.user.otherNames }} {{ payment.profile.user.lastName }}</td>
            </tr>
            <tr>
                <th>Date of payment</th>
                <td>{% if payment.dateOfPayment %}{{ payment.dateOfPayment|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Payment for</th>
                <td>{{ payment.paymentMonth }}</td>
            </tr>
            <tr>
                <th>Amount paid</th>
                <td>{{ payment.amountPaid }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
